<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">

  </head>
  <body>
    <div id="b-content">
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      console.log("BOARD");
      $.ajax({
        url: '/api/board/test',
        type:'get',
        // data: data,
        success: function(res) {
          // console.log('sessionStorage:', window.sessionStorage.getItem('data'));
          var data = JSON.parse(window.sessionStorage.getItem('data'));
          $("#b-content")
            .append("<h3> Board:"+data.board+"</h3></br>")
            .append("<p>Thread: "+data.thread+"</p></br>")
            .append("<p> User: "+data.user+"</p></br>")
            .append("<p>Topic: "+data.topic+"</p></br>");

        }
      });
    });
    </script>
  </body>
</html>
